<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css?v=2.0" rel="stylesheet">
    <link href="~/css/sb-admin-2.css?v=2.0" rel="stylesheet">
    <title>@ViewBag.Title - @config["AppSetting:ApplicationName"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.css?v=3.0" rel="stylesheet" />
    <link href="~/css/sb-admin-rtl.css" rel="stylesheet">

    <link rel="stylesheet" href="~/DataTable/jquery.dataTables.min.css">
    <link rel="stylesheet" href="~/DataTable/buttons.dataTables.min.css">

    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- DropDownTree-->
    <!-- Syncfusion Essential JS 2 Styles -->
    <link href="~/syncfusion/material.css" rel="stylesheet" />
    <!-- Syncfusion Essential JS 2 Scripts -->
    <script src="~/syncfusion/ej2.min.js"></script>
    <link href="~/NToast/NToast.css" rel="stylesheet" />
    <script src="~/vendor/chart.js/Chart.js"></script>

    @*<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="viho admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
        <meta name="keywords" content="admin template, viho admin template, dashboard template, flat admin template, responsive admin template, web app">
        <meta name="author" content="pixelstrap">
        <link rel="icon" href="~/assets/images/favicon.png" type="image/x-icon">
        <link rel="shortcut icon" href="~/assets/images/favicon.png" type="image/x-icon">*@


    <!-- Font Awesome-->
    <!--<link rel="stylesheet" type="text/css" href="~/assets/css/fontawesome.css">-->
    <!-- ico-font-->
    <!--<link rel="stylesheet" type="text/css" href="~/assets/css/icofont.css">-->
    <!-- Themify icon-->
    <!--<link rel="stylesheet" type="text/css" href="~/assets/css/themify.css">-->
    <!-- Flag icon-->
    <!--<link rel="stylesheet" type="text/css" href="~/assets/css/flag-icon.css">-->
    <!-- Feather icon-->
    <!--<link rel="stylesheet" type="text/css" href="~/assets/css/feather-icon.css">-->
    <!-- Plugins css start-->
    <!--<link rel="stylesheet" type="text/css" href="~/assets/css/sweetalert2.css">-->
    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    @*<link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.css">


        <link href="~/Content/bootstrap-rtl.css" rel="stylesheet" />*@

    <!-- App css-->
    <!--<link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link id="color" rel="stylesheet" href="~/assets/css/color-1.css" media="screen">-->
    <!-- Responsive css-->
    <!--<link rel="stylesheet" type="text/css" href="~/assets/css/responsive.css">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @config["AppSetting:ApplicationName"]</title>-->
    @*@Styles.Render("~/Content/css")*@
    <!--<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/bootstrap-rtl.css" rel="stylesheet" />
    <link href="~/scripts/calendar/smoothness.calendars.picker.css" rel="stylesheet" />
    <link href="~/content/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/content/datatables/css/datatables.bootstrap.css" rel="stylesheet" />
    <link href="~/content/fontawesome/css/all.css" rel="stylesheet" />
    <link href="~/content/select2-bootstrap.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />

    <link href="~/css/site.css" rel="stylesheet" />-->
    @*@Scripts.Render("~/bundles/modernizr")*@
    <!--<script src="~/Scripts/modernizr-2.8.3.js"></script>-->
    <link href="~/scripts/calendar/smoothness.calendars.picker.css" rel="stylesheet" />
    <link href="~/content/bootstrap-datetimepicker.css" rel="stylesheet" />
</head>