
<!-- Page Wrapper -->
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center">

        <div class="sidebar-brand-text mx-3"><h5 style="color:white"> <i class="fas fa-fingerprint"></i> @config["AppSetting:ApplicationName"]</h5></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" asp-controller="Home" asp-action="Index">
            <i class="fas fa-fw fa-home"></i>
            <span>الرئيسية</span>
        </a>
    </li>
    @ViewBag.changePassword
    @if (ViewBag.changePassword != null && ViewBag.changePassword == "true")
    {

    }
    else
    {
        if (signInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Employee"
                   aria-expanded="true" aria-controls="Employee">
                    <i class="fas fa-user-cog"></i>
                    <span> إدارة المستخدمين</span><span style="color:red"> جديد</span>
                </a>
                <div id="Employee" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        @if (AuthorizationService.AuthorizeAsync(User, "ListUsers-AdminController").Result.Succeeded)
                        {
                            <a class="collapse-item" asp-controller="Admin" asp-action="AddNewAccount">المستخدمين</a>
                        }
                            <a class="collapse-item" asp-controller="Employee" asp-action="Index">إضافة مستخدم جديد</a>
                            @*<a class="collapse-item" asp-controller="Employee" asp-action="Search">بحث الموظفين</a>*@
                            @*<a class="collapse-item" asp-controller="Transfer" asp-action="Create">طلب نقل <span style="color:red">جديد </span></a>
            <a class="collapse-item" asp-controller="Transfer" asp-action="Index">طلبات النقل <span style="color:red">جديد </span></a>*@

                        </div>
                </div>
            </li>
        }
        if (signInManager.IsSignedIn(User) || signInManager.Context.User.IsInRole(AppConstants.Role.Names.Admin_Role_Name) || signInManager.Context.User.IsInRole(AppConstants.Role.Names.User_Role_Name))
        {
            @*<li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Users"
                   aria-expanded="true" aria-controls="Employee">
                    <i class="fas fa-user-cog"></i>
                    <span>إدارة النظام</span>
                </a>
                <div id="Users" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        @if (signInManager.Context.User.IsInRole(AppConstants.Role.Names.Admin_Role_Name))
                        {
                            <a class="collapse-item" asp-controller="User" asp-action="Index">المستخدمين</a>
                        }
                        <a class="collapse-item" asp-controller="Department" asp-action="Index">التشكيل الإداري</a>
                        <a class="collapse-item" asp-controller="JobTitle" asp-action="Index">مسميات الوظائف</a>
                        @if (signInManager.Context.User.IsInRole(AppConstants.Role.Names.Admin_Role_Name))
                        {
                            <a class="collapse-item" asp-controller="SetAction" asp-action="Search">تثبيت البصمة</a>
                        }
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Machine"
                   aria-expanded="true" aria-controls="lookup">
                    <i class="fas fa-fw fa-table"></i>
                    <span>أجهزة البصمة</span>
                </a>
                <div id="Machine" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" asp-controller="Machine" asp-action="Create">أضافة جهاز بصمة</a>
                        <a class="collapse-item" asp-controller="Machine" asp-action="Index">إدارة أجهزة البصمة</a>
                        <a class="collapse-item" asp-controller="Machine" asp-action="Check">مراقبة البصمات</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#MachineTaif"
                   aria-expanded="true" aria-controls="lookup">
                    <i class="fas fa-fw fa-table"></i>
                    <span>أجهزة بصمة الطائف</span>
                </a>
                <div id="MachineTaif" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" asp-controller="MachineTaif" asp-action="Taif">إدارة الأجهزة </a>
                        <a class="collapse-item" asp-controller="MachineTaif" asp-action="CreateTaif">أضافة جهاز</a>



                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Execuse"
                   aria-expanded="true" aria-controls="ManagerVice">
                    <i class="fas fa-user-cog"></i>
                    <span>الاستئذان الاكتروني</span>
                </a>
                <div id="Execuse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" asp-controller="UserAccount" asp-action="Index">أدارة الصلاحية</a>
                        <a class="collapse-item" asp-controller="ManagerVice" asp-action="Index">مساعدين المدراء</a>

                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Management"
                   aria-expanded="true" aria-controls="Management">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>المدخلات</span>
                    <span style="color:red">جديد</span>
                </a>
                <div id="Management" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" asp-controller="Managements" asp-action="CreateVacation"> اضافة اجازة <span style="color:red">جديد </span></a>
                        <a class="collapse-item" asp-controller="Managements" asp-action="CreateGatepas"> اضافة استئذان <span style="color:red">جديد </span></a>
                        <a class="collapse-item" href="">اضافة دورة تدريبية <span style="color:red">قريبا </span></a>
                        <a class="collapse-item" href="">اضافة استثناء <span style="color:red">قريبا </span></a>
                        <a class="collapse-item" href="">اضافة جدول عمل <span style="color:red">قريبا </span></a>
                        <a class="collapse-item" href="">اضافة سياسة <span style="color:red">قريبا </span></a>
                        <a class="collapse-item" asp-controller="Managements" asp-action="Vacations">قائمة الايجازات  <span style="color:red">جديد </span></a>
                        <a class="collapse-item" asp-controller="Managements" asp-action="Gatepass">قائمة الاذونات <span style="color:red">جديد </span></a>
                        <a class="collapse-item" href="">قائمة الدورات <span style="color:red">قريبا </span></a>
                        <a class="collapse-item" href="">قائمة الاستثناءات <span style="color:red">قريبا </span></a>
                        <a class="collapse-item" href="">قائمة جداول العمل <span style="color:red">قريبا </span></a>
                        <a class="collapse-item" href="">قائمة السياسات <span style="color:red">قريبا </span></a>
                        <a class="collapse-item" href="">تحديث السجلات <span style="color:red">قريبا </span></a>
                    </div>
                </div>
            </li>*@

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Reports"
                   aria-expanded="true" aria-controls="Reports">
                    <i class="fas fa-fw fa-copy"></i>
                    <span> التقارير</span>
                    <span style="color:red">جديد</span>

                </a>
                <div id="Reports" class="collapse" aria-labelledby="headingUtilities"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" asp-controller="Reports" asp-action="DailyAttendance">الحضور والانصراف <span style="color:red">جديد </span></a>
                        <a class="collapse-item" asp-controller="Reports" asp-action="DailyChart">الحضور والانصراف بياني <span style="color:red">جديد </span></a>
                        <a class="collapse-item" asp-controller="Reports" asp-action="DailyAttendanceByEmployee">الحضور والانصراف لموظف <span style="color:red">جديد </span></a>
                        <a class="collapse-item" href="">المتاخرين <span style="color:red">قريبا </span></a>
                        <a class="collapse-item" href="">الغياب <span style="color:red">قريبا </span></a>
                        <a class="collapse-item" asp-controller="Reports" asp-action="Gatepass"> الاذونات  <span style="color:red">جديد </span></a>
                        <a class="collapse-item" asp-controller="Reports" asp-action="Vacations"> الايجازات  <span style="color:red">جديد </span></a>
                        <a class="collapse-item" href="">قائمة الموظفين <span style="color:red">قريبا </span></a>
                        <a class="collapse-item" href="">سجل البصمات التفصيلي <span style="color:red">قريبا </span></a>
                        <a class="collapse-item" href="">اداء الموظفين <span style="color:red">قريبا </span></a>

                    </div>
                </div>
            </li>
        }

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    }



</ul>

